body {
    text-aling: center;
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
}

img {
    border-radius: 50px;
    width: 250px;
}

h1 {
    text-aling=2px 2px DodgerBlue;
    font-side=20px;
}

p {
    font-size=20px;
    color: #6a1b9a;
}
